body {
    /*font-family: "Montserrat", sans-serif;*/
    font-family: "Helvetica Neue", sans-serif;
    font-size: 17px;
    /*background-color: #fdfdfd;*/
    background-color: #d5dddd;
}



.masthead {
    background: green;
    height: auto;
    padding-bottom: 15px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 10px;
}

.btn {
    /*border: 1px solid darkslategrey;*/
    border: 0 none;
    letter-spacing: 1px;
    border-radius:0;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
.btn:hover{
    background-color: teal;
}

.btn-primary{
    background-color: #305050;
}
.btn-info{
    background-color: #608080;
}