{% block sidebar %}
<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-3 float-right ">
    <div class="card  mb-4  mt-3">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text"> I'm a data scientist who likes to ramble... efficiently.</p>
            <a href="http://hillarysanders.com"
               class="btn btn-info">My Personal Site</a>
        </div>
    </div>
</div>
{% endblock sidebar %}