{% block sidebar %}
<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-3 float-right ">
    <div class="card  mb-4  mt-3">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text"> I'm a data scientist who likes to ramble... efficiently.</p>
            <div class="btn-group-vertical" role="group" >
                <a href="http://hillarysanders.com"
                   class="btn btn-info">My Personal Site</a>
                <a href="https://smile.amazon.com/Malware-Data-Science-Detection-Attribution/dp/1593278594"
                   class="btn btn-info">My Book</a>
                <a href="https://www.linkedin.com/in/hillarysanders/" title="LinkedIn"
                   class="btn btn-linkedin btn-lg"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a>
            </div>

        </div>
    </div>
</div>
{% endblock sidebar %}